.madre {
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; 
  align-items: center; 


  
}

.hijo {
  
  width: 100%;
  height: 100%; 

}

#back.col {
  align-self: flex-start; 
  margin-bottom: 10px; 
}



.title h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(78, 171, 237, 1);
  font-family: "Public Sans";
  margin-bottom: 50px;
  text-align: center;
}

.formulario {
  text-align: center;
  border-radius: 10px;

  width: 100%;

}

.formulario .frm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.formulario input,
.formulario select {
  display: inline;
  width: 50%;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario h1 {
  text-align: center;
  color: #007BFF;
  font-size: 1.5rem;
  margin-top: 10px;
}

.guardar {
   display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px  ;
  /* background-color: #28a745; */
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#guardar2{
  width: 155px;
    height: 58px;
}

#guardar2:hover {
  background-color: #218838;
}


