.landing-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: "https://s3-alpha-sig.figma.com/img/b16c/6c5a/9c2309d607ada4764613cb46f7edc7fd?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KFT~KMKuDCWIuVKSbxwdpOS8ropMn4GQsDlfrlsD33gJYmofCfagpwQlclr36yez6FCwpor-MQcE3~QBI5zATOELdXVtsqJeLBM2M0wvNFeYeGd8z1vPsgqhqVyHMawvb7tBcx-rPAKjU-s~-29~vpDqdMTk0XLdIw8EihHbbzWnIAvO7HsdFU-lkFpRFXmMofcvPM3VIbSofK~CQPDQr8X4beXwsswVKTrlWkhGVs6p6gw1UiAb0Im5ICzcblZAyFj6UPmz2YH~pe~xqQF23VrcDy2ZZ4nOPaSFDK9XW1RAvs7k2J8MGuitRmA-9lD1pNkNc3lZJKfGHiXujnc-Ag__";
    
  }
  
  .header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
  }
  
  .login-button {
    width: 132px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4EABED;
  }
  
  .logo-container {
    
    text-align: center;
    margin-top: 100px;
  }
  
  .logo {
    width: 10px;
  }
  
  .company-name {
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .tagline {
    font-size: 18px;
    color: white;
    font-style: italic;
  }
  
  .button-container {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    margin-top: 300px;
   

  }
  
  .primary-button {
    width: 240px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 20px;
background: #4EABED; 
margin-top: -350px;


  }
  
  .primary-button:hover {
    background-color: #357ab7;
  }
  