.root {
  background: url("../../assets/Fondo.png");
  width: 100%;
  height: 1025px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms{
  width: 507px;
  height: 556px;
  margin: 0 auto;
  border-radius: 5px;
  border: var(--sds-size-stroke-border) solid #000;
  background: linear-gradient(39deg, rgba(255, 255, 255, 0.55) -0.9%, rgba(153, 153, 153, 0.55) 101.3%);
  box-shadow: 0px 4px 9.4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px); 

}

#leyenda{
  color: #000;
text-align: center;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 64px;
}

#email{
  width: 331px;
height: 55px;
flex-shrink: 0;
margin-left: 80px;
border-radius: 5px;
margin-top: 60px;
}

input::placeholder {
  text-align: center;
}

#contrasena{
width: 331px;
height: 55px;
flex-shrink: 0;
border-radius: 5px;
margin-left: 80px;

}

#formularios{
  display: flex;
  justify-content: center;
  align-items: center;
}


.loginbtn{
  background-color: #4eabed;
  border-radius: 5px;
  height: 50px;
  left: 0;
  top: 0;
  width: 212px;  
  margin-left: 135px;
  border: none;
}

.registrate{
  overflow: hidden;
color: #141212;
text-align: center;
text-overflow: ellipsis;
margin-top: 40px;
font-size: 19px;
font-style: italic;
font-weight: 900;
line-height: 25px; 
text-decoration-line: underline;
}