
.menu1 {
  margin: 0;
  line-height: normal;
  width: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  margin-top: 37px;
}
.Biometriastittle {
  color: #4eabed;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



#btnbio {
  width: 220px;
  height: 180px;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(78, 171, 237, 0.70);
  color: #FFF;
  text-align: center;
  font-family: "Public Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
