#fondo2{
  background: linear-gradient(0deg, rgba(91, 177, 238, 0.30) 0%, rgba(91, 177, 238, 0.30) 100%), #FFF;
  width: 1400px;
  height: 950px;
  flex-shrink: 0;
}
.titlee{
  color: #4EABED;
text-align: center;
font-family: "Public Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#log{
  width: 600px;
  margin-left: 200px;
}
#bt1{
  border: 0px;
  background: rgba(78, 171, 237, 0.70);
  width: 380px;
  height: 180px;
  flex-shrink: 0;
  margin-left: 850px;
  margin-top: -200px;
font-size: 30px;
margin-top: 10px;

position: sticky;

}
#bt2{
  border: 0px;
  background: rgba(78, 171, 237, 0.70);
  width: 380px;
  height: 180px;
  flex-shrink: 0;
  margin-left: 180px;
  margin-top: -200px;
font-size: 30px;

}